<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login | Digital Democratic</title>

    <!-- Bootstrap -->
    <link href="/isard-sso-admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/isard-sso-admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/isard-sso-admin/vendors/animate.css/animate.min.css" rel="stylesheet">
	<!-- PNotify -->
	<link href="/isard-sso-admin/vendors/pnotify/dist/pnotify.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/isard-sso-admin/vendors/pnotify/dist/pnotify.buttons.css" media="all" rel="stylesheet" type="text/css" />
    <!-- Custom Theme Style -->
    <link href="/isard-sso-admin/build/css/custom.min.css" rel="stylesheet">
  </head>
    
  <body class="login" style="background-color:rgb(245, 169, 174)">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form id="login-form" action="{{ url_for('login') }}" method="POST" novalidate>
              <h1>Digital Democratic</h1>
              <div>
                <input type="text" name="user" class="form-control" placeholder="Username" required="" autofocus />
              </div>
              <div>
                <input type="password" name="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
				<button type="submit" class="btn btn-default submit">Login</button>
              </div>
              <div class="clearfix"></div>
              <div class="separator">
                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-user"></i> Digital Democratic</h1>
                  <p>©2020 All Rights Reserved. <a href="https://gitlab.com/digitaldemocratic/digitaldemocratic/LICENSE" target="_blank">AGPLv3</a></p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>

    <!-- jQuery -->
    <script src="/isard-sso-admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- PNotify -->
	<script type="text/javascript" src="/isard-sso-admin/vendors/pnotify/dist/pnotify.js"></script>
	<script type="text/javascript" src="/isard-sso-admin/vendors/pnotify/dist/pnotify.confirm.js"></script>
	<script type="text/javascript" src="/isard-sso-admin/vendors/pnotify/dist/pnotify.buttons.js"></script>    
	<script>PNotify.prototype.options.styling = "bootstrap3";</script>

		{% with messages = get_flashed_messages(with_categories=true) %}
		  {% if messages %}
			{% for category, message in messages %}
				<script type="text/javascript">
  				new PNotify({
					title: "{{ nav }}",
					text: "{{ message }}",
					hide: true,
					//~ icon: 'fa fa-alert-sign',
					opacity: 1,
					type: "error",
					addclass: "pnotify-center"
				});
				</script>			
			{% endfor %}
		  {% endif %}
		{% endwith %}
    <!-- Isard restful ajax calls -->
    <script src="/isard-sso-admin/static/js/restful.js"></script>
</html>
