<div class="navbar nav_title" style="border: 0;">
  <a href="/isard-sso-admin/about" class="site_title">
    <img src="/isard-sso-admin/static/img/dd.svg" class="sidebar_logo logo_white" alt="dd">
    <span>Digital Democratic</span>
  </a>
</div>

<div class="clearfix"></div>
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">        
  <div class="menu_section">
    <h3>Administration</h3>
    <div class="clearfix"></div>
    <ul class="nav side-menu">
      <!-- <li><a href="/"><i class="fa fa-home"></i> Home</a></li> -->
      <li><a href="/isard-sso-admin/users"><i class="fa fa-user"></i> Users</a></li>
      <li><a href="/isard-sso-admin/groups"><i class="fa fa-users"></i> Groups</a></li>
      <li><a href="/isard-sso-admin/roles"><i class="fa fa-user-secret"></i> Roles</a></li>
      <li><a href="/isard-sso-admin/external"><i class="fa fa-external-link"></i> External</a></li>
    </ul>
    <ul class="nav side-menu">
      <li><a href="/isard-sso-admin/about"><i class="fa fa-question"></i> About</span></a>
      </li>
    </ul>
  </div>
</div>
