<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
    <!-- Ion.RangeSlider -->
    <link href="/isard-sso-admin/vendors/normalize-css/normalize.css" rel="stylesheet">
        <!-- Switchery -->
    <link href="/isard-sso-admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h3><i class="fa fa-desktop"></i> External</h3>
				<ul class="nav navbar-right panel_toolbox">
					<li>
						<a class="btn-sync"><span style="color: #5499c7; "><i class="fa fa-rocket"></i> Sync to system</span></a>
						<a class="btn-upload"><span style="color: #5499c7; "><i class="fa fa-upload"></i> Upload</span></a>
						<a class="btn-download"><span style="color: #5499c7; "><i class="fa fa-download"></i> Download</span></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<p class="text-muted font-13 m-b-30"></p>
				<table id="users" class="table" width="100%">
					<thead>
						<tr>
							<th></th>
							<th>Provider</th>
							<th>Id</th>
							<th>Username</th>
							<th>First</th>
							<th>Last</th>
							<th>email</th>
							<th>groups</th>
							<th>roles</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="x_content">
				<p class="text-muted font-13 m-b-30"></p>
				<table id="groups" class="table" width="100%">
					<thead>
						<tr>
							<th></th>
							<th>Id</th>
							<th>Provider</th>
							<th>Name</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% include 'pages/modals/external_modals.html' %}
{% endblock %}

{% block pagescript %}
   <!-- Ion.RangeSlider -->
    <script src="/isard-sso-admin/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- iCheck -->
    <script src="/isard-sso-admin/vendors/iCheck/icheck.min.js"></script> 
    <!-- Switchery -->
    <script src="/isard-sso-admin/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Desktops sse & modals -->
    <script src="/isard-sso-admin/static/js/external.js"></script>
{% endblock %}
